body{
 background: #333333; 
 height: 100vh; 
 display: flex; 
 justify-content: center; 
 align-items: center; 
 } 
.canvas{ 
 width: 150px; 
height: 300px; 
 }.pixel{ 
 width: 30px; 
height: 30px; 
 float: left; 
 } 
.pixel:nth-child(2) { background: rgb(0,0,0); }
.pixel:nth-child(3) { background: rgb(0,0,0); }
.pixel:nth-child(4) { background: rgb(0,0,0); }
.pixel:nth-child(7) { background: rgb(0,0,0); }
.pixel:nth-child(10) { background: rgb(0,0,0); }
.pixel:nth-child(12) { background: rgb(0,0,0); }
.pixel:nth-child(17) { background: rgb(0,0,0); }
.pixel:nth-child(22) { background: rgb(0,0,0); }
.pixel:nth-child(27) { background: rgb(0,0,0); }
.pixel:nth-child(32) { background: rgb(0,0,0); }
.pixel:nth-child(34) { background: rgb(255,255,255); }
.pixel:nth-child(35) { background: rgb(255,255,255); }
.pixel:nth-child(37) { background: rgb(0,0,0); }
.pixel:nth-child(39) { background: rgb(255,255,255); }
.pixel:nth-child(40) { background: rgb(255,255,255); }
